<div class="task-list" *ngIf="taskData">
    <div class="task-card">
        <div class="task-details">
            <h2 class="task-name">{{ taskData.title }}</h2>
            <p class="task-decription">{{ taskData.description }}</p>

            <mat-divider></mat-divider>
            <div class="task-info">
                <div class="info-row">
                    <span class="info-label">Due Date:</span>
                    <span class="info-value">{{ taskData.dueDate | date: 'MMM d, y' }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Employee:</span>
                    <span class="info-value">{{ taskData.employeeName }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Priority:</span>
                    <span class="info-value">{{ taskData.priority }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Status:</span>
                    <span class="info-value">{{ taskData.taskStatus }}</span>
                </div>
            </div>

            <mat-divider></mat-divider>
            <div class="comment-section">
                <h3>Add Comment</h3>
                <mat-form-field class="comment-input">
                    <textarea matInput placeholder="Type your comment here" [(ngModel)]="commentData"></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="postComment()">Post Comment</button>
            </div>

            <mat-divider></mat-divider>
            <div style="margin-top: 10px;">
                <h4>Comments</h4>
                <mat-card *ngFor="let comment of commentsList" style="margin-top: 10px;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-img"></div>
                        <mat-card-title>{{ comment.postedBy }}</mat-card-title>
                        <mat-card-subtitle>{{ comment.createdAt | date:'medium'}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        {{ comment.comment }}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

   
</div>